@media screen and (max-width: 1400px) {
  .page {
    overflow-x: hidden;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    flex-wrap: nowrap;
  }
  .menu a:hover {
    text-decoration: none;
    color: #F2E94E;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #F2E94E;
  }
  .account {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 50px;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .account-until {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .information {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 250px;
    width: 80%;
    height: 500px;
    background-color: #fff;
    position: relative;
  }
  .information__photo {
    position: absolute;
    top: 10%;
    left: -10%;
  }
  .information__photo img {
    object-fit: cover;
    width: 90%;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .information__about-me__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information__about-me__city {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .information__about-me__style {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__about-me {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__cost {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information-edit {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .information-edit button {
    border: none;
    background: none;
  }
  .information-edit__button {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #764BA2;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #764BA2;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #764BA2 50%, #764BA2);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .information-edit__button:hover {
    background-position: 0 0;
    color: #fff;
  }
  .information-edit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .download {
    margin: 10px auto 0px auto;
    padding: 10px 0px;
    width: 80%;
    height: auto;
    background-color: none;
    color: #000;
    text-align: center;
    height: auto;
    border: 3px dashed #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .download__title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .download__img {
    margin: 0 auto;
  }
  .download__img .fl_upld {
    width: 300px;
    margin-top: 20px;
  }
  .download__img #fl_inp {
    display: none;
  }
  .download__img .fl_upld label {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .fl_upld label:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .download__img #fl_nm {
    margin-top: 10px;
    color: #fff;
  }
  .download__img .upload-button {
    padding: 10px 20px;
    width: 300px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .upload-button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gallery {
    width: 100%;
  }
  .gallery .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
  .gallery .photobox {
    position: relative;
  }
  .gallery .photobox .photo-img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .gallery .photobox .delete {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 99999999;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
  }
  .menu a:hover {
    text-decoration: none;
    color: #F2E94E;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #F2E94E;
  }
  .account {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 50px;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .account-until {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .information {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 300px;
    width: 80%;
    height: 500px;
    background-color: #fff;
    position: relative;
  }
  .information__photo {
    position: absolute;
    top: 10%;
    left: -10%;
  }
  .information__photo img {
    object-fit: cover;
    width: 90%;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .information__about-me__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information__about-me__city {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .information__about-me__style {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__about-me {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__cost {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information-edit {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .information-edit button {
    border: none;
    background: none;
  }
  .information-edit__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #764BA2;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #764BA2;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #764BA2 50%, #764BA2);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .information-edit__button:hover {
    background-position: 0 0;
    color: #fff;
  }
  .information-edit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .download {
    margin: 10px auto 0px auto;
    padding: 10px 0px;
    width: 80%;
    height: auto;
    background-color: none;
    color: #000;
    text-align: center;
    height: auto;
    border: 3px dashed #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .download__title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .download__img {
    margin: 0 auto;
  }
  .download__img .fl_upld {
    width: 300px;
    margin-top: 20px;
  }
  .download__img #fl_inp {
    display: none;
  }
  .download__img .fl_upld label {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .fl_upld label:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .download__img #fl_nm {
    margin-top: 10px;
    color: #fff;
  }
  .download__img .upload-button {
    padding: 10px 20px;
    width: 300px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .upload-button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gallery {
    width: 100%;
  }
  .gallery .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
  .gallery .photobox {
    position: relative;
  }
  .gallery .photobox .photo-img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .gallery .photobox .delete {
    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 99999999;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    flex-wrap: nowrap;
  }
  .menu a:hover {
    text-decoration: none;
    color: #F2E94E;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #F2E94E;
  }
  .account {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 50px;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .account-until {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .information {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 320px;
    width: 80%;
    height: 500px;
    background-color: #fff;
    position: relative;
  }
  .information__photo {
    position: absolute;
    top: 10%;
    left: -10%;
  }
  .information__photo img {
    object-fit: cover;
    width: 80%;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .information__about-me__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information__about-me__city {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .information__about-me__style {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__about-me {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__cost {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information-edit {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .information-edit button {
    border: none;
    background: none;
  }
  .information-edit__button {
    padding: 10px 20px;
    width: 200px;
    background: none;
    border-radius: 0px;
    border: 3px solid #764BA2;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #764BA2;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #764BA2 50%, #764BA2);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .information-edit__button:hover {
    background-position: 0 0;
    color: #fff;
  }
  .information-edit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .download {
    margin: 10px auto 0px auto;
    padding: 10px 0px;
    width: 80%;
    height: auto;
    background-color: none;
    color: #000;
    text-align: center;
    height: auto;
    border: 3px dashed #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .download__title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .download__img {
    margin: 0 auto;
  }
  .download__img .fl_upld {
    width: 300px;
    margin-top: 20px;
  }
  .download__img #fl_inp {
    display: none;
  }
  .download__img .fl_upld label {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .fl_upld label:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .download__img #fl_nm {
    margin-top: 10px;
    color: #fff;
  }
  .download__img .upload-button {
    padding: 10px 20px;
    width: 300px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .upload-button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gallery {
    width: 100%;
  }
  .gallery .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
  .gallery .photobox {
    position: relative;
  }
  .gallery .photobox .photo-img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .gallery .photobox .delete {

    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 99999999;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left {
    margin-top: 10px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    background-color: #764BA2;
    font-size: 15px;
    color: #fff;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .account {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 50px;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .account-until {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .information {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 250px;
    width: 90%;
    height: 500px;
    background-color: #fff;
    position: relative;
  }
  .information__photo {
    position: absolute;
    top: 15%;
    left: -3%;
  }
  .information__photo img {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .information__about-me__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information__about-me__city {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .information__about-me__style {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__about-me {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__cost {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information-edit {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .information-edit button {
    border: none;
    background: none;
  }
  .information-edit__button {
    padding: 10px 20px;
    width: 200px;
    background: none;
    border-radius: 0px;
    border: 3px solid #764BA2;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #764BA2;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #764BA2 50%, #764BA2);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .information-edit__button:hover {
    background-position: 0 0;
    color: #fff;
  }
  .information-edit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .download {
    margin: 10px auto 0px auto;
    padding: 10px 0px;
    width: 80%;
    height: auto;
    background-color: none;
    color: #000;
    text-align: center;
    height: auto;
    border: 3px dashed #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .download__title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .download__img {
    margin: 0 auto;
  }
  .download__img .fl_upld {
    width: 300px;
    margin-top: 20px;
  }
  .download__img #fl_inp {
    display: none;
  }
  .download__img .fl_upld label {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .fl_upld label:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .download__img #fl_nm {
    margin-top: 10px;
    color: #fff;
  }
  .download__img .upload-button {
    padding: 10px 20px;
    width: 300px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .upload-button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gallery {
    width: 100%;
  }
  .gallery .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
  .gallery .photobox {
    position: relative;
  }
  .gallery .photobox .photo-img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .gallery .photobox .delete {

    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 99999999;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left {
    margin-top: 10px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 480px;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    background-color: #764BA2;
    font-size: 15px;
    color: #fff;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .account {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 30px;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .account-until {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .information {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 200px;
    width: 90%;
    height: 500px;
    background-color: #fff;
    position: relative;
  }
  .information__photo {
    position: absolute;
    top: 15%;
    left: -5%;
  }
  .information__photo img {
    object-fit: cover;
    width: 40%;
    height: 300px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .information__about-me__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information__about-me__city {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .information__about-me__style {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__about-me {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__cost {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information-edit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 80%;
    left: 30%;
  }
  .information-edit button {
    border: none;
    background: none;
  }
  .information-edit__button {
    padding: 10px 20px;
    width: 150px;
    background: none;
    border-radius: 0px;
    border: 3px solid #764BA2;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #764BA2;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #764BA2 50%, #764BA2);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .information-edit__button:hover {
    background-position: 0 0;
    color: #fff;
  }
  .information-edit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .download {
    margin: 10px auto 0px auto;
    padding: 10px 0px;
    width: 80%;
    height: auto;
    background-color: none;
    color: #000;
    text-align: center;
    height: auto;
    border: 3px dashed #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .download__title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .download__img {
    margin: 0 auto;
  }
  .download__img .fl_upld {
    width: 300px;
    margin-top: 20px;
  }
  .download__img #fl_inp {
    display: none;
  }
  .download__img .fl_upld label {
    padding: 10px 40px;
    width: 350px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .fl_upld label:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .download__img #fl_nm {
    margin-top: 10px;
    color: #fff;
  }
  .download__img .upload-button {
    padding: 10px 20px;
    width: 300px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .upload-button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gallery {
    width: 100%;
  }
  .gallery .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
  .gallery .photobox {
    position: relative;
  }
  .gallery .photobox .photo-img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .gallery .photobox .delete {

    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 99999999;
  }
}

@media screen and (max-width: 320px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left {
    margin-top: 10px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    background-color: #764BA2;
    font-size: 15px;
    color: #fff;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .account {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
  .account-title {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
  }
  .account-title span {
    font-weight: bold;
    font-size: 20px;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 20px;
    line-height: 1.5em;
  }
  .account-until {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .information {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    padding-bottom: 30px;
    justify-content: center;
    padding-left: 120px;
    width: 90%;
    height: 500px;
    background-color: #fff;
    position: relative;
  }
  .information__photo {
    position: absolute;
    top: 15%;
    left: -5%;
  }
  .information__photo img {
    object-fit: cover;
    width: 40%;
    height: 40%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .information__about-me__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information__about-me__city {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__style {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .information__about-me__about-me {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .information__about-me__cost {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .information-edit {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .information-edit button {
    border: none;
    background: none;
  }
  .information-edit__button {
    padding: 10px 20px;
    width: 150px;
    background: none;
    border-radius: 0px;
    border: 3px solid #764BA2;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #764BA2;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #764BA2 50%, #764BA2);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .information-edit__button:hover {
    background-position: 0 0;
    color: #fff;
  }
  .information-edit a:hover {
    text-decoration: none;
    color: #fff;
  }
  .download {
    margin: 10px auto 0px auto;
    padding: 10px 0px;
    width: 80%;
    height: auto;
    background-color: none;
    color: #000;
    text-align: center;
    height: auto;
    border: 3px dashed #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .download__title {
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .download__img {
    margin: 0 auto;
  }
  .download__img .fl_upld {
    width: 300px;
    margin-top: 20px;
  }
  .download__img #fl_inp {
    display: none;
  }
  .download__img .fl_upld label {
    margin-left: 15px;
    padding: 10px 10px;
    width: 220px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .fl_upld label:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .download__img #fl_nm {
    margin-top: 10px;
    color: #fff;
  }
  .download__img .upload-button {
    margin-left: 15px;
    padding: 10px 20px;
    width: 220px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .download__img .upload-button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gallery {
    width: 100%;
  }
  .gallery .gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
  .gallery .photobox {
    position: relative;
  }
  .gallery .photobox .photo-img {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .gallery .photobox .delete {

    cursor: pointer;
    position: absolute;
    top: 70%;
    right: 10%;
    width: 40px;
    height: 40px;
    z-index: 99999999;
  }
}
