@charset "UTF-8";
@media screen and (max-width: 1400px) {
  .page {
    overflow-x: hidden;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    flex-wrap: nowrap;
  }
  .menu a:hover {
    text-decoration: none;
    color: #F2E94E;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #F2E94E;
  }
  .text-title {
    font-size: 15px;
    font-stretch: ultra-condensed;
    letter-spacing: 15px;
  }
  .piece {
    width: 80%;
    margin: 0 auto;
  }
  .piece img {
    width: auto;
    height: 370px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 5px 40px;
    width: 300px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #764BA2;
  }
  .content-bottom {
    width: 100%;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .content-bottom .help {
    width: 100%;
    padding: 0px 50px;
  }
  .content-bottom .help span {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .help a {
    font-size: 13px;
    line-height: 1.1em;
    color: #fff;
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    padding: 0 50px;
  }
  .content-bottom .about span {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .conditions {
    width: 100%;
    padding: 0 50px;
  }
  .content-bottom .conditions span {
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 10px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 5px;
    /* добавляем отступы с каждой стороны */
  }
  .photo img {
    width: 200px;
    height: auto;
    border: 2px solid #96E6B3;
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gal-more a:hover {
    text-decoration: none;
  }
  .rating-page {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
  }
  .rating-box {
    background-color: none;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
  }
  .menu a:hover {
    text-decoration: none;
    color: #F2E94E;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #F2E94E;
  }
  .text-title {
    font-size: 15px;
    font-stretch: ultra-condensed;
    letter-spacing: 10px;
  }
  .piece {
    width: 60%;
    margin: 0 auto;
  }
  .piece img {
    width: auto;
    height: 300px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    margin-top: 20px;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #764BA2;
  }
  .content-bottom {
    width: 100%;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .content-bottom .help {
    width: 100%;
    padding: 0px 50px;
  }
  .content-bottom .help span {
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 10px;
    color: #fff;
  }
  .content-bottom .help a {
    font-size: 11px;
    line-height: 1.1em;
    color: #fff;
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    padding: 0 50px;
  }
  .content-bottom .about span {
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .conditions {
    width: 100%;
    padding: 0 50px;
  }
  .content-bottom .conditions span {
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 10px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 5px;
    /* добавляем отступы с каждой стороны */
  }
  .photo img {
    width: 150px;
    height: auto;
    border: 2px solid #96E6B3;
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gal-more a:hover {
    text-decoration: none;
  }
  .rating-page {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .rating-box {
    background-color: none;
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 10px 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: none;
    top: 0;
    z-index: 9999;
    flex-wrap: nowrap;
  }
  .menu a:hover {
    text-decoration: none;
    color: #F2E94E;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: flex;
    align-items: center;
  }
  .menu__right__link {
    display: block;
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    transition: all 1s;
    text-decoration: none;
  }
  .activ {
    color: #F2E94E;
  }
  .text-title {
    font-size: 15px;
    font-stretch: ultra-condensed;
    letter-spacing: 10px;
  }
  .piece {
    width: 60%;
    margin: 0 auto;
  }
  .piece img {
    width: auto;
    height: 260px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    margin-top: 20px;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 10px 40px;
    width: 250px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #764BA2;
  }
  .content-bottom {
    width: 100%;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .content-bottom .help {
    width: 100%;
    padding: 0px 50px;
  }
  .content-bottom .help span {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .help a {
    font-size: 12px;
    line-height: 1.1em;
    color: #fff;
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    padding: 0 50px;
  }
  .content-bottom .about span {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .conditions {
    width: 100%;
    padding: 0 50px;
  }
  .content-bottom .conditions span {
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 10px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 5px;
    /* добавляем отступы с каждой стороны */
  }
  .photo img {
    width: 170px;
    height: auto;
    border: 2px solid #96E6B3;
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gal-more a:hover {
    text-decoration: none;
  }
  .rating-page {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .rating-box {
    background-color: none;
    width: 280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 5px 0px 5px;
  }
  .rat {
    order: -1;
    color: #fff;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left {
    margin-top: 10px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #764BA2;
    background-color: white;
    font-size: 15px;
    color: #764BA2;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .text-title {
    font-size: 15px;
    font-stretch: ultra-condensed;
    letter-spacing: 5px;
  }
  .piece {
    width: 60%;
    margin: 0 auto;
  }
  .piece img {
    width: auto;
    height: 260px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    margin-top: 20px;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 10px 40px;
    width: 250px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #764BA2;
  }
  .content-bottom {
    width: 100%;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .content-bottom .help {
    width: 100%;
    padding: 0px 30px;
  }
  .content-bottom .help span {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .help a {
    font-size: 10px;
    line-height: 1.1em;
    color: #fff;
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    padding: 0 30px;
  }
  .content-bottom .about span {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .conditions {
    width: 100%;
    padding: 0 30px;
  }
  .content-bottom .conditions span {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 1.1em;
    color: #fff;
  }
  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 10px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 5px;
    /* добавляем отступы с каждой стороны */
  }
  .photo img {
    width: 200px;
    height: auto;
    border: 2px solid #96E6B3;
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gal-more a:hover {
    text-decoration: none;
  }
  .rating-page {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .rating-box {
    background-color: none;
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 5px 0 5px;
  }
  .rating-box .inf {
    position: absolute;
    bottom: 5%;
    left: 1px;
    right: 1px;
    z-index: 6;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rating-box .inf .rating {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .rat {
    order: -1;
    color: #000;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left {
    margin-top: 10px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 480px;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #764BA2;
    background-color: white;
    font-size: 15px;
    color: #764BA2;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .text-title {
    font-size: 15px;
    font-stretch: ultra-condensed;
    letter-spacing: 0px;
    text-align: center;
  }
  .piece {
    width: 60%;
    margin: 0 auto;
  }
  .piece img {
    width: auto;
    height: 200px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    margin-top: 20px;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 10px 40px;
    width: 250px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #764BA2;
  }
  .content-bottom {
    width: 100%;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .content-bottom .help {
    width: 100%;
    padding: 0px 10px;
  }
  .content-bottom .help span {
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .help a {
    font-size: 9px;
    line-height: 1.1em;
    color: #fff;
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    padding: 0 10px;
  }
  .content-bottom .about span {
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .conditions {
    width: 100%;
    padding: 0 10px;
  }
  .content-bottom .conditions span {
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1.1em;
    color: #fff;
  }
  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 10px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 5px;
    /* добавляем отступы с каждой стороны */
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gal-more a:hover {
    text-decoration: none;
  }
  .rating-page {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .rating-box {
    background-color: none;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 5px 0 5px;
  }
  .rat {
    order: -1;
    color: #fff;
    margin-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .menu {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    height: 40px;
  }
  .menu__left {
    margin-top: 10px;
  }
  .menu__left img {
    width: 100px;
    height: 50px;
  }
  .menu__right {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0px;
    transform: translateY(100%);
    max-height: 0px;
    font-size: 0;
    transition: 0.5s all;
    overflow: hidden;
    z-index: 99999;
  }
  .menu__right__link {
    display: block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    border-bottom: 2px solid #764BA2;
    background-color: white;
    font-size: 15px;
    color: #764BA2;
  }
  #check-menu {
    display: none;
  }
  .label-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-image: linear-gradient(0deg, #96E6B3, #F2E94E);
    transition: 0.5s all;
    z-index: 9999;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  #check-menu:checked ~ .menu__right {
    max-height: 500px;
    font-size: 16px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  .text-title {
    font-size: 15px;
    font-stretch: ultra-condensed;
    letter-spacing: 0px;
    text-align: center;
  }
  .piece {
    width: 60%;
    margin: 0 auto;
  }
  .piece img {
    width: auto;
    height: 170px;
  }
  .content-search {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999999;
    margin-top: 20px;
  }
  .content-search button {
    border: none;
    background: none;
  }
  .content-search__button {
    padding: 10px 40px;
    width: 250px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .content-search__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .content-search a:hover {
    text-decoration: none;
    color: #764BA2;
  }
  .content-bottom {
    width: 100%;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .content-bottom .help {
    width: 100%;
    padding: 0px 10px;
  }
  .content-bottom .help span {
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .help a {
    font-size: 9px;
    line-height: 1.1em;
    color: #fff;
    cursor: pointer;
  }
  .content-bottom .about {
    width: 100%;
    padding: 0 10px;
  }
  .content-bottom .about span {
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1.1em;
    color: #fff;
  }
  .content-bottom .conditions {
    width: 100%;
    padding: 0 10px;
  }
  .content-bottom .conditions span {
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    line-height: 1.1em;
    color: #fff;
  }
  .container-gal {
    width: 90%;
    /* ширина блока-контейнера */
    height: auto;
    margin: 10px auto;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* устанавливаем ширину элемента */
    padding: 5px;
    /* добавляем отступы с каждой стороны */
  }
  .gal-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
  }
  .gal-more button {
    border: none;
    background: none;
  }
  .gal-more__button {
    padding: 10px 40px;
    width: 270px;
    background: none;
    border-radius: 0px;
    border: 3px solid #F2E94E;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    color: #F2E94E;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, #F2E94E 50%, #F2E94E);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 1s;
  }
  .gal-more__button:hover {
    background-position: 0 0;
    color: #764BA2;
  }
  .gal-more a:hover {
    text-decoration: none;
  }
  .rating-page {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .rating-box {
    background-color: none;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 5px 0 5px;
  }
  .rat {
    order: -1;
    color: #fff;
    margin-right: 10px;
  }
}
